<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<Properties>
		<Property name="basepath">C://JavaSelenium//eclipseworkspace//SeleniumProject//logFiles
		</Property>
	</Properties>
	<Appenders>
		<RollingFile name="File" fileName="${basepath}//appLogs"
			filePattern="${basepath}//appLogs-%d{yyyy-MM-DD}.log">
			<PatternLayout pattern="%d{HH:mm:ss:SSS} %5level %c{1} -%msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 KB" />
			</Policies>
		</RollingFile>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss:SSS} %5level %c{1} -%msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</configuration>